<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.mapper.ClockInMapper">

    <resultMap id="baseResultMap" type="ClockIn">
        <id column="id" property="id"></id>
        <result column="create_time" property="createTime"></result>
        <result column="user_id" property="userId"></result>
        <result column="heart_value" property="heartValue"></result>
        <association property="user" javaType="User">
            <id column="user_id" property="id"></id>
            <result column="user_name" property="userName"></result>
            <result column="user_display_name" property="userDisplayName"></result>
            <result column="user_avatar" property="userAvatar"></result>
        </association>
    </resultMap>

    <select id="findByUserIdToday" resultMap="baseResultMap">
        SELECT * FROM clock_in WHERE user_id = #{userId} and TO_DAYS(create_time) = TO_DAYS(NOW()) limit 1
    </select>

    <select id="getRankToday" resultMap="baseResultMap">
        SELECT
            t.id, t.user_id, t.create_time, t.heart_value,
            u.user_name, u.user_display_name, u.user_avatar
        FROM
            clock_in t, user u
        WHERE
        t.user_id = u.id AND
        TO_DAYS(t.create_time) = TO_DAYS(NOW())
        order by t.create_time asc limit 100
    </select>

    <select id="countToday" resultType="java.lang.Integer">
        select count(*) from clock_in t
        where TO_DAYS(t.create_time) = TO_DAYS(NOW())
    </select>
</mapper>